{"openapi":"3.0.1","info":{"title":"yespo.io","version":"1.0"},"servers":[{"url":"https://yespo.io"}],"security":[{"basicAuth":[]}],"tags":[{"name":"Contacts"},{"name":"Orders"},{"name":"Events"},{"name":"Messages"},{"name":"Behavior tracking"},{"name":"Account"},{"name":"Site"},{"name":"Product feed"},{"name":"Deprecated"}],"paths":{"/api/v1/contact":{"post":{"tags":["Contacts"],"summary":"Add/update a contact","description":"Creates or updates contacts in real-time. <a href=\"https://docs.yespo.io/docs/adding-new-users\">Details ></a>.<br/>The guide on bulk contact uploading and updating is available <a href=\"https://docs.yespo.io/docs/uploading-file-with-user-profile-data\">at the link</a>.<br/><a href=\"https://docs.yespo.io/reference/addupdate-a-contact-request-example\">Request example</a>.","operationId":"addContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IDResult"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"405":{"description":"Method not allowed"},"409":{"description":"Conflict:<br><ul><li>Repeated request within 1 minute.</li></ul>"},"415":{"description":"Unsupported media type"},"429":{"description":"Too many requests:<br><ul><li>More than 200 requests per 1 second.</li></ul>"}}},"delete":{"tags":["Contacts"],"summary":"Delete contact by externalCustomerId","description":"The method is used for deleting a contact identified by externalCustomerId.","operationId":"deleteContact","parameters":[{"name":"externalCustomerId","in":"query","schema":{"type":"string"},"example":"AB12770"},{"name":"erase","in":"query","description":"Permanent deletion of all contact data: contact profile attributes, contact activity, web- and mobile tracking. It is not possible to recover deleted data.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v1/contact/subscribe":{"post":{"tags":["Contacts"],"summary":"Subscribe a contact","description":"The method is used for <a href=\"https://yespo.io/support/integrating-subscription-form-via-api\">the integration of subscription forms</a>.<br/>If a contact does not exist, it is created with the non-confirmed email.<br/>If a contact exists, the contact fields are updated (except existing media channels).<br/>New contacts are created with a <b>not confirmed</b> status.<br/>","operationId":"subscribeContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscribeContact"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ContactSubscriptionResult"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"405":{"description":"Method not allowed"},"409":{"description":"Conflict:<br><ul><li>Repeated request within 1 minute.</li></ul>"},"415":{"description":"Unsupported media type"},"429":{"description":"Too many requests:<br><ul><li>More than 200 requests per 1 second.</li></ul>"}}}},"/api/v1/contacts":{"get":{"tags":["Contacts"],"summary":"Search for contacts","description":"<br>Search for contacts. The method returns max 500 results.<br> The total amount of contacts is in the <b>TotalCount</b> header.","operationId":"searchContacts","parameters":[{"name":"externalCustomerId","in":"query","description":"External contact ID","schema":{"type":"string"},"example":1234509876},{"name":"email","in":"query","description":"Contact's email address","schema":{"type":"string"},"example":"example@email.com"},{"name":"sms","in":"query","description":"Contact's phone number","schema":{"type":"string"},"example":3801111111111},{"name":"firstname","in":"query","description":"Contact first name","schema":{"type":"string"},"example":"John"},{"name":"lastname","in":"query","description":"Contact last name","schema":{"type":"string"},"example":"Smith"},{"name":"startindex","in":"query","description":"The number of the first contact returned in the search results.<br/>Numbering starts at 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of returned contacts (max 500)","schema":{"type":"integer","format":"int32","default":500}},{"name":"sortBy","in":"query","description":"Possible value is 'contactId'. Only actual for searches without conditions. By default, the date of contact update is used for the search.<br>If this parameter is used, sorting is done by contactId. Using this parameter allows you to upload contacts faster.","schema":{"type":"string"},"example":"contactId"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseContact"}}}}}}},"post":{"tags":["Contacts"],"summary":"Add/update contacts","description":"The method adds new contacts and updates existing contacts. Asynchronous processing is used; requests may be handled in a different order or concurrently.","operationId":"contactsBulkUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsBulkUpdate"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ContactBulkUpdateResult"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"405":{"description":"Method not allowed"},"415":{"description":"Unsupported media type"},"429":{"description":"Too many requests: More than 200 requests per 1 second"}}}},"/api/v1/contacts/upload":{"post":{"tags":["Contacts"],"summary":"Add/update contacts from external file","description":"The method is used to import or update the contacts from an external file. The method creates new contacts and updates existing ones.","operationId":"fileContactsBulkUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileContactsBulkUpdate"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FileValidationResult"}}}}}}},"/api/v1/importstatus/{sessionId}":{"get":{"tags":["Contacts"],"summary":"Get contact import status","description":"The method is used for getting the status of the contact import session by the asynchronous ID of the session.","operationId":"getImportSessionStatus","parameters":[{"name":"sessionId","in":"path","description":"Async session identifier","required":true,"schema":{"type":"string"},"example":"abc23456789"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ImportSessionStatus"}}}}}}},"/api/v1/contacts/email":{"get":{"tags":["Contacts"],"summary":"Get email by contactID","description":"The method is used for getting the email addresses of contacts by their contactID.","operationId":"getContactEmails","parameters":[{"name":"ids","in":"query","description":"Comma separated contact IDs to get email addresses for","required":true,"schema":{"type":"string"},"example":"1234567890, 2345678901, 3456789012"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ContactEmails"}}}}}}},"/api/v1/emails/unsubscribed/add":{"post":{"tags":["Contacts"],"summary":"Add emails to unsubscribed list","description":"The method is used for adding email addresses to the list of unsubscribed contacts.","operationId":"addToUnsubscribed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsubscribeParamsDto"}}}},"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v1/emails/unsubscribed/delete":{"post":{"tags":["Contacts"],"summary":"Remove emails from unsubscribed list","description":"The method is used for removing email addresses from the list of unsubscribed contacts.","operationId":"deleteFromUnsubscribed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsubscribeParamsDto"}}}},"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v1/group/{id}/contacts":{"get":{"tags":["Contacts"],"summary":"Get contacts from a segment","description":"The method is used to search for all contacts in a segment.","operationId":"getGroupContacts","parameters":[{"name":"id","in":"path","description":"Segment ID","required":true,"schema":{"type":"integer","format":"int32"},"example":201403567},{"name":"startindex","in":"query","description":"The index of the first contact returned from the search result.<br/>Numbering starts at 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of contacts to return (max. 500)","schema":{"type":"integer","format":"int32","default":500}},{"name":"orderByTs","in":"query","description":"Order by the time of addition to the segment.","schema":{"type":"boolean","default":false}},{"name":"asc","in":"query","description":"Sort in ascending (ASC) or descending (DESC) order.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}}}}}}}},"/api/v1/group/{id}/contacts/detach":{"post":{"tags":["Contacts"],"summary":"Delete from static segment","description":"The method deletes contacts from a static segment by contact ids or external customer ids. If don't specify any ids, all contacts will be deleted from the segment.","operationId":"detachContactsFromGroup","parameters":[{"name":"id","in":"path","description":"Segment ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1234567890}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyContactsInGroup"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/group/{id}/contacts/attach":{"post":{"tags":["Contacts"],"summary":"Attach contact to static segment","description":"Attach contact to static segment by contact ids or external customer ids","operationId":"attachContactsToGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyContactsInGroup"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/groups":{"get":{"tags":["Contacts"],"summary":"Get segments","description":"The method searches for and returns the available segments.","operationId":"searchGroups","parameters":[{"name":"name","in":"query","schema":{"type":"string"},"example":"my segment"},{"name":"startindex","in":"query","description":"The index of the first segment returned from the search result.<br/>Numbering starts at 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of segments to be returned (max. 500)","schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupDto"}}}}}}}},"/api/v1/workflows":{"get":{"tags":["Contacts"],"summary":"Get workflows","description":"The method searches for and returns the available workflows.","operationId":"searchWorkflows","parameters":[{"name":"name","in":"query","schema":{"type":"string"},"example":"my workflow"},{"name":"startindex","in":"query","description":"The index of the first workflow returned from the search result.<br/>Numbering starts at 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of workflows to be returned (max. 500)","schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Workflow"}}}}}}}},"/api/v1/contact/token/{app_uuid}/{token_id}/contactId":{"get":{"tags":["Contacts"],"summary":"Get contact ID by Mobile Push token","description":"The method is used for getting the ID of a contact using the Mobile Push token ID.","operationId":"getContactIdByToken","parameters":[{"name":"app_uuid","in":"path","description":"Application ID","required":true,"schema":{"type":"string"},"example":"83b77a49-fc28-409b-aeaa-68c9d544ab9d"},{"name":"token_id","in":"path","description":"Token ID","required":true,"schema":{"type":"string"},"example":"0373a4ab1c37447eb0b30bc47a4f492c426af47cdc81be43a1e8455355ea87b0"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IDResult"}}}}}}},"/api/v1/contact/{id}/subscriptions":{"get":{"tags":["Contacts"],"summary":"Get contact subscriptions","description":"The method is used for getting the names of categories a contact subscribed for.","operationId":"getContactSubscriptionCategories","parameters":[{"name":"id","in":"path","description":"Contact ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1234567890}],"responses":{"200":{"description":"Subscription category","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ContactSubscriptionCategoryDto"}}}}}},"put":{"tags":["Contacts"],"summary":"Update contact subscriptions","description":"The method is used for updating the categories that a contact subscribed for.","operationId":"changeContactSubscriptionCategories","parameters":[{"name":"id","in":"path","description":"Contact ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1234567890}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactSubscriptionCategoryUpsertRequest"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/contact/{id}":{"get":{"tags":["Contacts"],"summary":"Get contact","description":"The method returns the available information about the contact identified by the contact ID.","operationId":"getContact","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"example":12345678}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/Contact"}}}}}},"put":{"tags":["Contacts"],"summary":"Update contact","description":"The method is used to update the contact's data, except for the contact ID field.<br>In case of updating a deleted contact, this contact is restored.","operationId":"updateContact","parameters":[{"name":"id","in":"path","description":"Contact ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1234567890}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactUpdate"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"405":{"description":"Method not allowed"},"409":{"description":"Conflict:<br><ul><li>Repeated request within 1 minute.</li></ul>"},"415":{"description":"Unsupported media type"},"429":{"description":"Too many requests:<br><ul><li>More than 200 requests per 1 second.</li></ul>"}}},"delete":{"tags":["Contacts"],"summary":"Delete contact","description":"The method is used for deleting a contact identified by contactID.","operationId":"deleteContact_1","parameters":[{"name":"id","in":"path","description":"Contact ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1234567890},{"name":"erase","in":"query","description":"Permanent deletion of all contact's data: contact profile attributes, contact activity, web- and mobile tracking. It is not possible to recover the deleted data.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v2/contacts/recoms/{dataSourceId}":{"get":{"tags":["Contacts"],"summary":"Contact recommendations based on web tracking","description":"The method returns recommendations for a contact based on the web tracking.<br/><b>NOTE:</b> Version 2 API methods do not require escaping in nested JSON.","operationId":"contactRecoms","parameters":[{"name":"dataSourceId","in":"path","description":"Data Source ID. To find it, go to your account> Settings> Data Sources","required":true,"schema":{"type":"integer","format":"int32"},"example":1414},{"name":"contactId","in":"query","description":"Contact ID. At least one of contactId, email, phone, externalCustomerId, webId must be specified","schema":{"type":"integer","format":"int64"},"example":2345678},{"name":"email","in":"query","description":"Contact email. At least one of contactId, email, phone, externalCustomerId, webId must be specified","schema":{"type":"string"},"example":"example.email@example.com"},{"name":"phone","in":"query","description":"Contact phone number. At least one of contactId, email, phone, externalCustomerId, webId must be specified","schema":{"type":"string"},"example":"(123) 456-7890"},{"name":"externalCustomerId","in":"query","description":"External Customer ID. At least one of contactId, email, phone, externalCustomerId, webId must be specified","schema":{"type":"string"}},{"name":"webId","in":"query","description":"Web ID. At least one of contactId, email, phone, externalCustomerId, webId must be specified","schema":{"type":"string"}},{"name":"products","in":"query","description":"Array of product IDs. Required for the product-based algorithms","schema":{"type":"string"},"example":["SKU12345","PL456789"]},{"name":"category","in":"query","description":"Category ID. Required for the category-based algorithms","schema":{"type":"string"},"example":["DEPT-456","C7890"]}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactRecom"}}}}}}}},"/api/v1/addressbooks":{"get":{"tags":["Contacts"],"summary":"Get the list of catalogs","description":"The method returns a list of catalogs. A catalog contains the list of additional fields available for contacts in your organisation.","operationId":"getAddressBooks","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AddressBooks"}}}}}}},"/api/v1/messages/email":{"get":{"tags":["Messages"],"summary":"Search for Email messages","description":"The method is used to search for Email messages using a part of their name or a tag. By default, a rate limit of 500 requests per hour applies. <br/>The method returns a maximum of 500 messages per request. <br/>The <b>TotalCount</b> header contains the number of messages returned to the query.","operationId":"searchEmails","parameters":[{"name":"search","in":"query","description":"Search condition (a part of the message name or a tag)","schema":{"type":"string","default":""},"example":"promo"},{"name":"startindex","in":"query","description":"The index of the first message to return from the search result.<br/>Numbering starts at 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of messages to return (max. 500).","schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseEmailMessage"}}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"post":{"tags":["Messages"],"summary":"Add base Email message","description":"The method is used for adding/updating the language version of a message identified by the internal ID (for multilingual messages).","operationId":"addEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseEmailMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IDResult"}}}}}}},"/api/v1/messages/email/{id}/viewLink":{"get":{"tags":["Messages"],"summary":"Get Email message view link","description":"This method is used to get a link to view the Email message.\n By default, a rate limit of 500 requests per hour applies.","operationId":"getEmailMessageViewLink","parameters":[{"name":"id","in":"path","description":"Message ID","required":true,"schema":{"type":"string"},"example":3243775}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageViewInBrowserLink"}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}}},"/api/v1/message/{id}/smartsend":{"post":{"tags":["Messages"],"summary":"Send prepared message","description":"The method is used for sending a prepared message to one or many contacts. You can create broadcasts for Email, SMS, Mobile Push, Web Push, Viber, Telegram bot channels.<br/>You can parametrize the message for each contact individually.","operationId":"sendExtendedPreparedMessage","parameters":[{"name":"id","in":"path","description":"Message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendedPreparedMessageParameters"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SendMessageResultsDto"}}}}}}},"/api/v1/message/status":{"get":{"tags":["Messages"],"summary":"Get single message status","description":"The method is used for getting the status of a single message.","operationId":"getInstantMessagesStatus","parameters":[{"name":"ids","in":"query","description":"ID of sent message. This field is present if message was successfully queued for sending.","schema":{"type":"string"},"example":"2345678,2456789,2144567"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstantMessagesStatusDto"}}}}}}}},"/api/v1/message/email":{"post":{"tags":["Messages"],"summary":"Send Email message","description":"The method is used for sending an Email message to a contact. A new contact is created if no contact with such email address exists.","operationId":"sendEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutgoingEmail"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SendMessageResultsDto"}}}}}}},"/api/v1/messages/email/{id}":{"get":{"tags":["Messages"],"summary":"Get Email message","description":"The method returns the content, title, and sender details of a message identified by the internal ID – html and css separately.\n By default, a rate limit of 500 requests per hour applies.","operationId":"getEmail","parameters":[{"name":"id","in":"path","description":"Email message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BaseEmailMessage"}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"put":{"tags":["Messages"],"summary":"Update basic Email message","description":"The method is used for updating the basic Email message.","operationId":"updateMessage","parameters":[{"name":"id","in":"path","description":"Email message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseEmailMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete basic Email message","description":"The method is used for deleting the basic Email message.","operationId":"deleteEmail","parameters":[{"name":"id","in":"path","description":"Email message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/email/{id}/{language}":{"put":{"tags":["Messages"],"summary":"Add/update translated Email message","description":"The method is used for updating or adding language versions for the basic Email message.","operationId":"updateMessage_1","parameters":[{"name":"id","in":"path","description":"Email message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678},{"name":"language","in":"path","description":"Email message language code<br/>\nIn compliance with <a href=\"https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\">ISO_639-1</a>","required":true,"schema":{"type":"string"},"example":"en"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseEmailMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete translated Email message","description":"The method is used for deleting the translation of the basic Email message.","operationId":"deleteEmail_1","parameters":[{"name":"id","in":"path","description":"Email message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678},{"name":"language","in":"path","description":"Email message language code \nin compliance with <a href=\"https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\">ISO_639-1</a>","required":true,"schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/mobilepush":{"get":{"tags":["Messages"],"summary":"Search for Mobile Push messages","description":"The method is used to search for Mobile Push messages using a part of name or a tag.\n By default, a rate limit of 500 requests per hour applies <br/>The method returns a maximum of 500 messages per request. <br/>The <b>TotalCount</b> header contains the number of messages returned by the query","operationId":"searchMobPushMessages","parameters":[{"name":"search","in":"query","description":"Search condition (part of the message name or a tag)","schema":{"type":"string"},"example":"You added items to your cart"},{"name":"startindex","in":"query","description":"Index of the first returned message from the search results. Numbering starts at 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of messages to return (not more than 500)","schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseMobilePushMessage"}}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"post":{"tags":["Messages"],"summary":"Add base Mobile Push message","description":"The method is used for creating new Mobile Push message.","operationId":"addMobilePushMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseMobilePushMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IDResult"}}}}}}},"/api/v1/messages/mobilepush/{id}":{"get":{"tags":["Messages"],"summary":"Get a Mobile Push message","description":"The method returns Mobile Push message including language versions.\n By default, a rate limit of 500 requests per hour applies.","operationId":"getMobilePushMessage","parameters":[{"name":"id","in":"path","description":"Mobile push message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BaseMobilePushMessage"}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"put":{"tags":["Messages"],"summary":"Update base Mobile Push message","description":"The method is used for updating the base Mobile Push message.","operationId":"updateBaseMobPushMessage","parameters":[{"name":"id","in":"path","description":"Mobile push message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3017890}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseMobilePushMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete base Mobile Push message","description":"The method is used for deleting the base Mobile Push message.","operationId":"deleteMobilePushMessage","parameters":[{"name":"id","in":"path","description":"Mobile push message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/mobilepush/{id}/{language}":{"put":{"tags":["Messages"],"summary":"Add/update translated Mobile Push message","description":"The method is used for updating or adding language versions for the basic Mobile Push message.","operationId":"updateTranslatedMobilePushMessage","parameters":[{"name":"id","in":"path","description":"Mobile push message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3017890},{"name":"language","in":"path","description":"Language code","required":true,"schema":{"type":"string"},"example":"uk"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseMobilePushMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete language version of Mobile Push message","description":"The method is used for deleting the language version of the base Mobile Push message.","operationId":"deleteTranslatedMobilePushMessage","parameters":[{"name":"id","in":"path","description":"Mobile push message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678},{"name":"language","in":"path","description":"Mobile push message language code","required":true,"schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/viber":{"get":{"tags":["Messages"],"summary":"Search for Viber messages","description":"The method is used to search for Viber messages using a part of name or a tag.\n By default, a rate limit of 500 requests per hour applies. <br/>The method returns a maximum of 500 messages per request.<br/>The <b>TotalCount</b> header contains the number of messages returned by the query","operationId":"searchViberMessages","parameters":[{"name":"search","in":"query","description":"Search condition (part of the message name or a tag)","schema":{"type":"string"},"example":"You added items to your cart"},{"name":"startindex","in":"query","description":"Index of the first returned message from the search results. Numbering starts at 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of messages to return (not more than 500)","schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseViberMessage"}}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"post":{"tags":["Messages"],"summary":"Add base Viber message","description":"The method is used for creating base Viber message.","operationId":"addViberMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseViberMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IDResult"}}}},"400":{"description":"Bad request:<br><ul><li>Request body is empty.</li></ul><ul><li>Required field is absent: name, from, text.</li></ul><ul><li>Non-existing sender name used in message.</li></ul><ul><li>Used sender does not support specified transactional mode.</li></ul><ul><li>Not applicable field in transactional message: img, caption or action.</li></ul><ul><li>One or two of fields specified: img, caption or action; but not all three.</li></ul>"}}}},"/api/v1/messages/viber/{id}":{"get":{"tags":["Messages"],"summary":"Get the Viber message","description":"The method returns Viber message found by ID.\n By default, a rate limit of 500 requests per hour applies.","operationId":"getViberMessage","parameters":[{"name":"id","in":"path","description":"Viber message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3894567}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BaseViberMessage"}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"put":{"tags":["Messages"],"summary":"Update base Viber message","description":"The method is used for updating base Viber message.","operationId":"updateBaseViberMessage","parameters":[{"name":"id","in":"path","description":"Viber message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3017890}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseViberMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}},"400":{"description":"Bad request:<br><ul><li>Request body is empty.</li></ul><ul><li>Required field is absent: name, from, text.</li></ul><ul><li>Non-existing sender name used in message.</li></ul><ul><li>Used sender does not support specified transactional mode.</li></ul><ul><li>Not applicable field in transactional message: img, caption or action.</li></ul><ul><li>One or two of fields specified: img, caption or action; but not all three.</li></ul>"}}},"delete":{"tags":["Messages"],"summary":"Delete Viber message","description":"The method is used for deleting base Viber message.","operationId":"deleteViberMessage","parameters":[{"name":"id","in":"path","description":"Viber message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1234567}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/viber/{id}/{language}":{"put":{"tags":["Messages"],"summary":"Update translated Viber message","description":"The method is used for updating language version of base Viber message.","operationId":"updateTranslateViberMessage","parameters":[{"name":"id","in":"path","description":"Viber message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3017890},{"name":"language","in":"path","description":"Language code","required":true,"schema":{"type":"string"},"example":"uk"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseViberMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete translated Viber message","description":"The method is used for deleting language version of base Viber message.","operationId":"deleteTranslatedViberMessage","parameters":[{"name":"id","in":"path","description":"Viber message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678},{"name":"language","in":"path","description":"Viber message language code","required":true,"schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/appinbox":{"get":{"tags":["Messages"],"summary":"Search for App Inbox messages","description":"The method is used to search for mobile App Inbox messages using a part of the name or a tag. <br/>The method returns a maximum of 500 messages per request.<br/>The <b>TotalCount</b> header contains the number of messages returned by the query.","operationId":"searchAppInboxMessages","parameters":[{"name":"search","in":"query","description":"Search condition (a part of the message name or a tag)","schema":{"type":"string"}},{"name":"startindex","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseAppInboxMessage"}}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"post":{"tags":["Messages"],"summary":"Add base App Inbox message","description":"The method is used for creating basic App Inbox messages.","operationId":"addAppInboxMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseAppInboxMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IDResult"}}}}}}},"/api/v1/messages/appinbox/{id}":{"get":{"tags":["Messages"],"summary":"Get the App Inbox message","description":"The method returns the App Inbox message found using its ID.\n By default, a rate limit of 500 requests per hour applies.","operationId":"getAppInboxMessage","parameters":[{"name":"id","in":"path","description":"App inbox message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3894567}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BaseAppInboxMessage"}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"put":{"tags":["Messages"],"summary":"Update the base App Inbox message","description":"The method is used for updating the base App Inbox message.","operationId":"updateBaseAppInboxMessage","parameters":[{"name":"id","in":"path","description":"App inbox message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1234567}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseAppInboxMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete App Inbox message","description":"The method is used for deleting the base App Inbox message.","operationId":"deleteAppInboxMessage","parameters":[{"name":"id","in":"path","description":"App inbox message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1234567}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/appinbox/{id}/{language}":{"put":{"tags":["Messages"],"summary":"Add/update translated App Inbox message","description":"The method is used for updating or adding language versions for the basic App Inbox message.","operationId":"updateTranslatedAppInboxMessage","parameters":[{"name":"id","in":"path","description":"App inbox message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1234567},{"name":"language","in":"path","description":"App inbox message language code","required":true,"schema":{"type":"string"},"example":"uk"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseAppInboxMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete translated App Inbox message","description":"The method is used for deleting the language version of the basic App Inbox message.","operationId":"deleteTranslatedAppInboxMessage","parameters":[{"name":"id","in":"path","description":"App inbox message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678},{"name":"language","in":"path","description":"App inbox message language code","required":true,"schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/telegram":{"get":{"tags":["Messages"],"summary":"Search for Telegram bot messages","description":"The method is used to search for Telegram bot messages using a part of name or a tag.\n By default, a rate limit of 500 requests per hour applies. <br/>The method returns a maximum of 500 messages per request. <br/>The <b>TotalCount</b> header contains the number of messages returned by the query.","operationId":"searchTelegramBotMessages","parameters":[{"name":"search","in":"query","description":"Search condition (part of the message name or a tag)","schema":{"type":"string"},"example":"You added items to your cart"},{"name":"startindex","in":"query","description":"Index of the first returned message from the search results. Numbering starts at 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of messages to return (not more than 500)","schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseTelegramBotMessage"}}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"post":{"tags":["Messages"],"summary":"Add base Telegram bot message","description":"The method is used for creating basic Telegram bot messages.","operationId":"addTelegramBotMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseTelegramBotMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IDResult"}}}}}}},"/api/v1/messages/telegram/{id}":{"get":{"tags":["Messages"],"summary":"Get the app Telegram bot message","description":"The method returns the Telegram bot message found using its ID.\n By default, a rate limit of 500 requests per hour applies.","operationId":"getTelegramBotMessage","parameters":[{"name":"id","in":"path","description":"Telegram bot message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3894567}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BaseTelegramBotMessage"}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"put":{"tags":["Messages"],"summary":"Update base Telegram bot message","description":"The method is used for updating the base Telegram bot message.","operationId":"updateBaseTelegramBotMessage","parameters":[{"name":"id","in":"path","description":"Telegram bot message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3017890}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseTelegramBotMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete Telegram bot message","description":"The method is used for deleting the base Telegram bot message.","operationId":"deleteTelegramBotMessage","parameters":[{"name":"id","in":"path","description":"Telegram bot message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1234567}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/telegram/{id}/{language}":{"put":{"tags":["Messages"],"summary":"Add/update translated Telegram message","description":"The method is used for updating or adding language versions for the basic Telegram message.","operationId":"updateTranslatedTelegramBotMessage","parameters":[{"name":"id","in":"path","description":"Telegram bot message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3017890},{"name":"language","in":"path","description":"Language code","required":true,"schema":{"type":"string"},"example":"uk"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseTelegramBotMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete translated Telegram bot message","description":"The method is used for deleting the language version of the basic Telegram bot message.","operationId":"deleteTranslatedTelegramBotMessage","parameters":[{"name":"id","in":"path","description":"Telegram bot message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678},{"name":"language","in":"path","description":"Telegram bot message language code","required":true,"schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/interactions/{interaction_id}/status":{"put":{"tags":["Messages"],"summary":"Update interaction status","description":"The method is used for receiving the status of a Mobile Push message using interaction_id.<br/>This ID is sent along with data in a Mobile Push message.<br/><b>Example:</b> \"es_interaction_id\": \"2E2E831C-486C-41F9-8E8D-BCD6B7A51A7A\".","operationId":"registerInteractionStatus","parameters":[{"name":"interaction_id","in":"path","description":"Interaction ID","required":true,"schema":{"type":"string"},"example":"2E2E831C-486C-41F9-8E8D-BCD6B7A51A7A"}],"requestBody":{"description":"New status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InteractionStatusChange"}}}},"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v1/messages/sms/{id}":{"get":{"tags":["Messages"],"summary":"Get SMS message","description":"The method returns content, title, sender and text of an SMS identified by its internal SMS message ID.\n By default, a rate limit of 500 requests per hour applies.","operationId":"getSms","parameters":[{"name":"id","in":"path","description":"SMS message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3456789}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BaseSmsMessage"}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"put":{"tags":["Messages"],"summary":"Update base SMS message","description":"The method is used for updating the base SMS message.","operationId":"updateBaseSmsMessage","parameters":[{"name":"id","in":"path","description":"Sms message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3017890}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseSmsMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete SMS message","description":"The method is used for deleting the base SMS message.","operationId":"deleteSmsMessage","parameters":[{"name":"id","in":"path","description":"Sms message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1234567}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/messages/sms/{id}/{language}":{"put":{"tags":["Messages"],"summary":"Update translated SMS message","description":"The method is used for updating the language version of SMS message.","operationId":"updateTranslateSmsMessage","parameters":[{"name":"id","in":"path","description":"Sms message ID","required":true,"schema":{"type":"integer","format":"int32"},"example":3017890},{"name":"language","in":"path","description":"Language code","required":true,"schema":{"type":"string"},"example":"uk"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseSmsMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Messages"],"summary":"Delete translated SMS message","description":"The method is used for deleting the language version of the basic SMS message.","operationId":"deleteTranslatedSmsMessage","parameters":[{"name":"id","in":"path","description":"Sms message id","required":true,"schema":{"type":"integer","format":"int32"},"example":2345678},{"name":"language","in":"path","description":"Sms message language code","required":true,"schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/message/sms":{"post":{"tags":["Messages"],"summary":"Send SMS message","description":"The method is used for sending an SMS message to a contact. A new contact is created if no contact with such phone number exists.","operationId":"sendSMS","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutgoingSMS"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SendMessageResultsDto"}}}}}}},"/api/v1/messages/sms":{"get":{"tags":["Messages"],"summary":"Search for SMS messages","description":"The method is used to search for SMS messages using a part of their names or a tag.\n By default, a rate limit of 500 requests per hour applies. <br/>The method returns a maximum of 500 messages per request. <br/>The <b>TotalCount</b> header contains the number of messages returned by the query.<br/>","operationId":"searchSms","parameters":[{"name":"search","in":"query","description":"Search condition (a part of the message name or a tag)","schema":{"type":"string"},"example":"New arrivals"},{"name":"startindex","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"maxrows","in":"query","schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseSmsMessage"}}}}},"429":{"description":"Too many requests:<br><ul><li>More than 500 requests per 1 hour.</li></ul>"}}},"post":{"tags":["Messages"],"summary":"Add base SMS message","description":"The method is used for creating basic SMS messages.","operationId":"addSmsMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseSmsMessage"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IDResult"}}}}}}},"/api/v1/message/viber":{"post":{"tags":["Messages"],"summary":"Send Viber message","description":"The method is used for sending a Viber message to a contact. A new contact is created if no contact with such phone number exists.","operationId":"sendViber","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutgoingViber"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SendMessageResultsDto"}}}}}}},"/api/v1/broadcasts":{"get":{"tags":["Messages"],"summary":"Get broadcasts","description":"The method is used for getting a list of broadcasts.","operationId":"findBroadcasts","parameters":[{"name":"startindex","in":"query","description":"Index of the first message to return from search results <br/>Numbering starts at 1","schema":{"type":"integer","format":"int64","default":1}},{"name":"maxrows","in":"query","description":"Maximum number of messages to return (maximum 500)","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BroadcastView"}}}}}}}},"/api/v1/broadcast":{"post":{"tags":["Messages"],"summary":"Create broadcast","description":"The method is used for creating broadcasts for Email, SMS, Mobile Push, Web Push, Viber, Telegram channels.","operationId":"createBroadcast","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewBroadcastRequest"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BroadcastView"}}}}}}},"/api/v1/broadcast/{broadcast_id}":{"get":{"tags":["Messages"],"summary":"Get broadcast info","description":"The method is used for getting broadcast information.","operationId":"getBroadcast","parameters":[{"name":"broadcast_id","in":"path","description":"Broadcast ID","required":true,"schema":{"type":"string"},"example":3459207}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BroadcastView"}}}}}},"delete":{"tags":["Messages"],"summary":"Cancel scheduled broadcast","description":"The method is used for cancelling a scheduled broadcast.","operationId":"deleteBroadcast","parameters":[{"name":"broadcast_id","in":"path","description":"Broadcast ID","required":true,"schema":{"type":"string"},"example":3459207}],"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v1/interfaces/sms":{"get":{"tags":["Messages"],"summary":"Get SMS interfaces","description":"The method is used for getting SMS interfaces (alpha names).","operationId":"getSmsInterfaces","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InterfaceDto"}}}}}}}},"/api/v1/interfaces/email":{"get":{"tags":["Messages"],"summary":"Get Email interfaces","description":"The method is used for getting Email interfaces (sender names).","operationId":"getEmailInterfaces","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InterfaceDto"}}}}}}}},"/api/v1/promocodes":{"get":{"tags":["Messages"],"summary":"Get promotional codes","description":"The method returns a list of all available promotional codes as JSON string.","operationId":"getPromocodes","parameters":[{"name":"type","in":"query","description":"Promo code type","schema":{"type":"string"},"example":"Free Gift with Purchase"},{"name":"inUse","in":"query","description":"When 'true', the promo code has been used, when 'false', the promo code has not been used","schema":{"type":"boolean"}},{"name":"activeDueDays","in":"query","description":"The days left for promo codes to remain active<br/>(activeDueDays=7 means: the promo code remains active for the following 7 days, starting from tomorrow)","schema":{"type":"integer","format":"int32"},"example":14},{"name":"discount","in":"query","description":"Discount received with the promo code","schema":{"type":"integer","format":"int32"},"example":15}],"responses":{"200":{"description":"Promocodes list as json string","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}},"post":{"tags":["Messages"],"summary":"Upload promotional codes in JSON format","description":"The method is used for uploading promo codes from a JSON file.<br>Existing promotional codes are updated.","operationId":"insertPromoCodes_1","parameters":[{"name":"expirationDate","in":"query","description":"Promo code expiration date","schema":{"type":"string"},"example":"2023-12-15T20:15"},{"name":"discount","in":"query","description":"Discount amount","schema":{"type":"string"},"example":10},{"name":"type","in":"query","description":"Promo code type","schema":{"type":"string"},"example":"type1"},{"name":"inUse","in":"query","schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromocodesPayloadDto"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PromocodesPayloadDto"}}}}}}},"/api/v1/promocodes/count":{"get":{"tags":["Messages"],"summary":"Get the number of available promotional codes","description":"The method returns the number of available promo codes.","operationId":"getPromocodesCount","parameters":[{"name":"type","in":"query","description":"Promo code type","schema":{"type":"string"},"example":"type1"},{"name":"activeDueDays","in":"query","description":"The number of days left for the promo codes to remain active<br/>(activeDueDays=7 means the promo code remains active during the next 7 days, starting from tomorrow)","schema":{"type":"integer","format":"int32"},"example":7},{"name":"discount","in":"query","description":"Promo code discount amount","schema":{"type":"integer","format":"int32"},"example":14}],"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v1/subscriptions":{"get":{"tags":["Messages"],"summary":"Get organization subscriptions","description":"The method returns subscription categories for the organization.","operationId":"getSubscriptionCategories","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionCategoryDto"}}}}}}}},"/api/v1/preprocessor/file/{id}/status":{"get":{"tags":["Messages"],"summary":"Get preprocessor file status","description":"The method is used for retrieving the preprocessor file uploading session status using the asynchronous session identifier.","operationId":"preprocessorFileStatus","parameters":[{"name":"id","in":"path","description":"Async session identifier","required":true,"schema":{"type":"string"},"example":"01234567-89ab-cdef-0123-456789abcdef"}],"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v1/preprocessor/file/upload":{"post":{"tags":["Messages"],"summary":"Upload file for preprocessor","description":"The method is used for uploading a file for the preprocessor from an external repository.","operationId":"uploadPreprocessorFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreProcessorDto"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FileValidationResult"}}}}}}},"/api/v1/preprocessor/file/{id}":{"post":{"tags":["Messages"],"summary":"Update file for preprocessor","description":"The methods updates the data of a preprocessor file uploaded using the Upload file for preprocessor method.<br/>To update the file, use the <b>fileId</b> value returned by the <a href=\"https://docs.yespo.io/reference/uploadpreprocessorfile-1\">Upload file for preprocessor</a> method in its response.","operationId":"updatePreprocessorFile","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"schema":{"type":"string"},"example":"YOUR_FILE_ID"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreProcessorFileUpdateRequest"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PreprocessorFileUpdateResponse"}}}}}}},"/api/v1/event":{"post":{"tags":["Events"],"summary":"Generate events v1","description":"The method is used for generating events in the account to be used for starting a workflow or being taken into account for segmentation.<br/>Max. size of content for events sent in the request body is 20 kB.<br/>To learn more, read <a href=\"https://yespo.io/support/how-send-events-resource-v1event\">Order management via events.</a>","operationId":"registerEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventDto"}}}},"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}},"deprecated":true}},"/api/v1/past_events":{"post":{"tags":["Events"],"summary":"Generate past events V1","description":"The method is used for transferring the available event data from your CRM or other data store to our system.<br/>The workflows are not launched for these events. You can send up to 500 events per a request.<br/><a href=\"https://yespo.io/support/how-send-past-events\">Learn more.</a>","operationId":"sendHistoryEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchPastEvents"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/EventsMigrationResults"}}}}},"deprecated":true},"delete":{"tags":["Events"],"summary":"Delete events","description":"The method is used for deleting events occurred during selected period.","operationId":"removeHistoryEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Period"}}}},"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v2/event":{"post":{"tags":["Events"],"summary":"Generate event v2","description":"Sends any backend <a href=\"https://yespo.io/support/how-use-v1event-api-resource\">events</a> from websites and mobile apps to our system. Secure for sensitive data.For sending frontend events, mobile apps should use <a href=\"https://yespo.io/support/sdk-mobile-apps\">SDK</a>.The request example is available <a href=\"https://docs.yespo.io/reference/abandonedcart-event-example\">at the link</a>.<ul><li><b>NOTE:</b> The maximum size of event data in the request body is <b>20 KB</b>.</li></ul>","operationId":"registerEvent_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}}},"responses":{"default":{"description":"default response","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v2/past_events":{"post":{"tags":["Events"],"summary":"Generate past events V2","description":"The method is used for transferring the available event data from your CRM or other data store to our system.<br/>Workflows are not launched for these events. You can send up to 500 events per a request. <br/> <b>NOTE:</b> Version 2 API methods do not require escaping in nested JSON. <br/><a href=\"https://yespo.io/support/how-send-past-events\">Learn more.</a>","operationId":"sendHistoryEvents_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchPastEventsV2"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/EventsMigrationResults"}}}}}}},"/api/v1/auth/token":{"post":{"tags":["Events"],"summary":"Generate API token","description":"The method is used for generating a token for bearer authentication. Use the token only if the basic authentication is not appropriate for you.<br>Available methods for token authorization:<br><i>POST /v1/event</i><br/><i>POST /v1/past_events</i><br/><i>DELETE /v1/past_events</i><br/>","operationId":"generateApiKey","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/account/info":{"get":{"tags":["Account"],"summary":"Get account info","description":"The method returns the account name.","operationId":"getAccountInfo","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AccountInfo"}}}}}}},"/api/v1/balance":{"get":{"tags":["Account"],"summary":"Get organization balance","description":"The method returns the balance for the account.","operationId":"getUserOrganisationBalance","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/Balance"}}}}}}},"/api/v1/balance/history":{"get":{"tags":["Account"],"summary":"Get organization billing history","description":"The method returns the billing history of the account.","operationId":"getOrganisationBalanceHistory","parameters":[{"name":"dateFrom","in":"query","description":"The initial date for the billing history. The date values are passed in the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO_8061</a> format.<br>\nDate format: YYYY-MM-DD<br>\n","schema":{"type":"string","default":"Beginning of today"}},{"name":"dateTo","in":"query","description":"The end date for the billing history. The date values are passed in the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO_8061</a> format.<br>\nDate format: YYYY-MM-DD<br>\n","schema":{"type":"string","default":"Now"}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BillingHistory"}}}},"400":{"description":"dateTo must be greater or equal to dateFrom"},"419":{"description":"Request period must be not greater than 90 days"}}}},"/api/v1/orders":{"post":{"tags":["Orders"],"summary":"Add orders","description":"The method is used for transferring orders.<br/>To learn more, read <a href=\"https://yespo.io/support/orders-automation\">Order Transfer Using the Generate event API Method.</a>","operationId":"ordersBulkInsert","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Orders"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FailedOrders"}}}},"400":{"description":"Bad request"},"429":{"description":"Too many requests"}}}},"/api/v2/contacts/activity":{"get":{"tags":["Behavior tracking"],"summary":"Get contacts activity","description":"The method returns the contact activity on subscriptions.","operationId":"contactActivity","parameters":[{"name":"dateFrom","in":"query","description":"Initial date and time of the period you want to get the contact activity for","required":true,"schema":{"type":"string"},"example":"2023-07-20"},{"name":"dateTo","in":"query","description":"Final date and time of the period you want to get the contact activity for","required":true,"schema":{"type":"string"},"example":"2023-10-12"},{"name":"email","in":"query","description":"Email address","schema":{"type":"string"},"example":"John.Black@mail.com"},{"name":"sms","in":"query","description":"Contact's phone number","schema":{"type":"string"},"example":"+12345678900"},{"name":"webPushToken","in":"query","description":"Web Push token","schema":{"type":"string"},"example":"0383a4ab1c38448eb0b30bc48a4f492c426af48cdc71be43a1e7455355ea78b0"},{"name":"mobPushToken","in":"query","description":"Mob Push token","schema":{"type":"string"},"example":"1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0"},{"name":"messageTag","in":"query","description":"Message tag","schema":{"type":"string"},"example":"Discount"},{"name":"activityStatus","in":"query","description":"Activity status (DELIVERED, UNDELIVERED, READ, UNSUBSCRIBED, CLICKED, SPAM)","schema":{"type":"string","enum":["DELIVERED","UNDELIVERED","READ","UNSUBSCRIBED","CLICKED","SPAM"]}},{"name":"offset","in":"query","description":"Last found contact activity offset in previous search results. It is used to continue search","schema":{"type":"string"},"example":"766111100-5cb2-11ee-aa11-1f2b981c5833"},{"name":"maxrows","in":"query","description":"Max number of activity entries in response","schema":{"type":"integer","format":"int32","default":25000}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactActivity"}}}}}}}},"/api/v2/contacts/messages":{"get":{"tags":["Behavior tracking"],"summary":"Get contact's message history","description":"The method returns the contact's message history.<br/>Supported media types: Email, SMS, Viber, Mobile Push, Web Push, App Inbox, Telegram.","operationId":"contactMessages","parameters":[{"name":"dateFrom","in":"query","description":"The initial date or date and time of the history period. The date/time values are passed in the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO_8061</a> format.<br>\nDate format: YYYY-MM-DD<br>\nDate with time format: YYYY-MM-DDTHH:mm","required":true,"schema":{"type":"string"},"example":"2023-08-14"},{"name":"dateTo","in":"query","description":"The final date or date amd time of the history period. The date/time values are passed in the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO_8061</a> format.<br>\nDate format: YYYY-MM-DD<br>\nDate with time format: YYYY-MM-DDTHH:mm","required":true,"schema":{"type":"string"},"example":"2023-10-12"},{"name":"email","in":"query","description":"Contact's email address (either contactId, or externalCustomerId, or email, or phone number must be specified)","schema":{"type":"string"},"example":"John@yourcompany.com"},{"name":"phone","in":"query","description":"Contact's phone number (either contactId, or externalCustomerId, or email, or phone number must be specified)","schema":{"type":"string"},"example":"+12345678900"},{"name":"contactId","in":"query","description":"Contact ID number (either contactId, or externalCustomerId, or email, or phone number must be specified)","schema":{"type":"integer","format":"int64"},"example":2345678},{"name":"externalCustomerId","in":"query","description":"External Customer ID (either contactId, or externalCustomerId, or email, or phone number must be specified)","schema":{"type":"string"}},{"name":"channelTypes","in":"query","description":"Comma separated list of user messages channel types that will be included to the response.","schema":{"type":"string"},"example":"email,sms,viber,mobilepush"},{"name":"offset","in":"query","description":"Offset from the first item. For pagination purposes","schema":{"type":"integer","format":"int32","default":0}},{"name":"maxrows","in":"query","description":"Max number of items in the response. Default value is 10. Maximum value is 100","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactMessage"}}}}}}}},"/api/v1/contact/token/activated/{app_uuid}/{token_id}":{"get":{"tags":["Behavior tracking"],"summary":"Get token activity","description":"The method returns activity status of the mobile token: {\"active\":true} or {\"active\":false}.","operationId":"getTokenActivated","parameters":[{"name":"token_id","in":"path","description":"Token ID","required":true,"schema":{"type":"string"},"example":"0373a4ab1c37447eb0b30bc47a4f492c426af47cdc81be43a1e8455355ea87b0"},{"name":"app_uuid","in":"path","description":"Application ID","required":true,"schema":{"type":"string"},"example":"83b77a49-fc28-409b-aeaa-68c9d544ab9d"}],"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TokenPushActive"}}}}}},"put":{"tags":["Behavior tracking"],"summary":"Change token activity","description":"The method is used for changing activity status of the mobile token.","operationId":"changeTokenActivated","parameters":[{"name":"token_id","in":"path","description":"Token ID","required":true,"schema":{"type":"string"},"example":"0373a4ab1c37447eb0b30bc47a4f492c426af47cdc81be43a1e8455355ea87b0"},{"name":"app_uuid","in":"path","description":"Application ID","required":true,"schema":{"type":"string"},"example":"83b77a49-fc28-409b-aeaa-68c9d544ab9d"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenPushActive"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TokenPushActive"}}}}}}},"/api/v1/apps/{app_uuid}/tokens":{"post":{"tags":["Apps"],"summary":"Add application tokens","description":"The method is used for adding application tokens.","operationId":"addAppTokens","parameters":[{"name":"app_uuid","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppTokens"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/apps/{app_uuid}/token/mute":{"post":{"tags":["Apps"],"summary":"Mute application tokens","description":"The method mutes notifications to Telegram users having tokens. <a href=\"https://yespo.io/support/mute-unmute-tg-notifications#Muting-Notifications\">Read more.</a>","operationId":"muteAppToken","parameters":[{"name":"app_uuid","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MuteToken"}}}},"responses":{"200":{"description":"OK","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request:<br><ul><li>Wrong app uuid</li><li>Token must be specified</li><li>Duration must be positive integer</li></ul>"},"404":{"description":"Not Found:<br><ul><li>Not registered application</li></ul>"}}}},"/api/v1/apps/{app_uuid}/token/unmute":{"post":{"tags":["Apps"],"summary":"Unmute application tokens","description":"The method unmutes notifications to Telegram users having tokens. <a href=\"https://yespo.io/support/mute-unmute-tg-notifications#Unmuting-Notifications\">Read more.</a>","operationId":"unmuteAppToken","parameters":[{"name":"app_uuid","in":"path","description":"Application ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnmuteToken"}}}},"responses":{"200":{"description":"OK","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request:<br><ul><li>Wrong app uuid</li><li>Token must be specified</li></ul>"},"404":{"description":"Not Found:<br><ul><li>Not registered application</li></ul>"}}}},"/api/v1/site/domains":{"get":{"tags":["Site"],"summary":"Get domain","description":"The method returns your organization's domain. The response is empty if no domain is found.","operationId":"getDomains","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Domain"}}}}}}},"post":{"tags":["Site"],"summary":"Add domain","description":"The method registers the domain sent in the body params for use in web tracking or widgets.<br>Only one domain can be registered per organization.","operationId":"createDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"responses":{"200":{"description":"OK<br>Domain already exists"},"201":{"description":"Created<br>Domain created"},"400":{"description":"Bad request<br>Invalid domain name"},"404":{"description":"Not found"}}}},"/api/v1/site/script":{"get":{"tags":["Site"],"summary":"Get script","description":"The method returns the script for your account.<br>The domain must exist for an organization before getting a script.<br>It can be used for plugins that automatically install the script on the site and require the API endpoint for getting the script.","operationId":"getScript","responses":{"default":{"description":"default response","content":{"text/plain":{}}}}}},"/api/v1/site/webpush/domains":{"get":{"tags":["Site"],"summary":"Get web push domains","description":"The method returns the list of domains registered for web push notifications.","operationId":"getWebPushDomains","responses":{"200":{"description":"OK","content":{"application/json; charset=UTF-8":{}}}}},"post":{"tags":["Site"],"summary":"Add web push domain","description":"The method is used for adding a domain for web push notifications.","operationId":"addWebPushDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebPushDomains"}}}},"responses":{"200":{"description":"OK","content":{"application/json; charset=UTF-8":{}}}}},"delete":{"tags":["Site"],"summary":"Delete web push domain","description":"The method is used for deleting a domain for web push notifications.","operationId":"deleteWebPushDomain","parameters":[{"name":"domain","in":"query","description":"Domain to remove","schema":{"type":"string"}}],"responses":{"200":{"description":"Web push domain was deleted","content":{"application/json; charset=UTF-8":{}}},"404":{"description":"Web push domain not found","content":{"application/json; charset=UTF-8":{}}}}}},"/api/v1/products/config":{"get":{"tags":["Product feed"],"summary":"Get product feeds configuration","operationId":"getProductFeedsConfiguration","responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProductFeeds"}}}}}},"post":{"tags":["Product feed"],"summary":"Configure product feeds","operationId":"configureProductFeeds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductFeeds"}}}},"responses":{"200":{"description":"","content":{"application/json; charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/site/webpush/script":{"get":{"tags":["Site"],"summary":"Get web push script","description":"The method returns the web push script for the specified domain.","operationId":"getWebPushScript","parameters":[{"name":"domain","in":"query","description":"Domain to generate script for","schema":{"type":"string"}}],"responses":{"200":{"description":"Web push script retrieved successfully","content":{"application/json; charset=UTF-8":{}}}}}}},"components":{"schemas":{"IDResult":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}},"xml":{"name":"result","namespace":"http://esputnik.com.ua/dto"}},"AppInboxMessage":{"required":["name","text","title"],"type":"object","properties":{"id":{"type":"integer","description":"Message ID.","format":"int32"},"name":{"type":"string","description":"Message name."},"languageCode":{"type":"string","description":"Language code."},"tags":{"type":"array","description":"List of tags.","items":{"type":"string","description":"List of tags."}},"subscriptionsKeys":{"type":"array","description":"Subscription categories keys, assigned to a message.","items":{"type":"string","description":"Subscription categories keys, assigned to a message."}},"languages":{"type":"array","description":"An array with the language codes for multilingual messages. Available for the GET method only.","items":{"type":"string","description":"An array with the language codes for multilingual messages. Available for the GET method only."}},"title":{"type":"string","description":"Message title.","example":"Account created"},"text":{"type":"string","description":"Message text.","example":"Thank you for signing up!"},"link":{"type":"string","description":"The link that will open after the click on the message body.","example":"https://www.example.com"},"imageSource":{"type":"string","description":"The logo image in JPEG, PNG or GIF format."},"customData":{"type":"string","description":"Additional parameters in JSON format to be used in the message."},"ttlSec":{"type":"integer","description":"Time-to-live for the message, in seconds.","format":"int32","example":3600}},"description":"The array of the language versions for the current message. Available for the GET method only."},"BaseAppInboxMessage":{"required":["name","text","title"],"type":"object","properties":{"id":{"type":"integer","description":"Message ID.","format":"int32"},"name":{"type":"string","description":"Message name."},"languageCode":{"type":"string","description":"Language code."},"tags":{"type":"array","description":"List of tags.","items":{"type":"string","description":"List of tags."}},"subscriptionsKeys":{"type":"array","description":"Subscription categories keys, assigned to a message.","items":{"type":"string","description":"Subscription categories keys, assigned to a message."}},"languages":{"type":"array","description":"An array with the language codes for multilingual messages. Available for the GET method only.","items":{"type":"string","description":"An array with the language codes for multilingual messages. Available for the GET method only."}},"title":{"type":"string","description":"Message title.","example":"Account created"},"text":{"type":"string","description":"Message text.","example":"Thank you for signing up!"},"link":{"type":"string","description":"The link that will open after the click on the message body.","example":"https://www.example.com"},"imageSource":{"type":"string","description":"The logo image in JPEG, PNG or GIF format."},"customData":{"type":"string","description":"Additional parameters in JSON format to be used in the message."},"ttlSec":{"type":"integer","description":"Time-to-live for the message, in seconds.","format":"int32","example":3600},"translations":{"type":"array","description":"The array of the language versions for the current message. Available for the GET method only.","items":{"$ref":"#/components/schemas/AppInboxMessage"}}}},"AppToken":{"type":"object","properties":{"token":{"type":"string","description":"Application token."},"contactId":{"type":"integer","description":"Contact ID.","format":"int64"},"externalCustomerId":{"type":"string","description":"External contact ID."},"phone":{"type":"string","description":"Contact's phone number."},"email":{"type":"string","description":"Contact's email address."}}},"AppTokens":{"type":"object","properties":{"tokens":{"type":"array","items":{"$ref":"#/components/schemas/AppToken"}}},"description":"Tokens list."},"Address":{"type":"object","properties":{"region":{"type":"string","description":"Region","example":"Occitanie"},"town":{"type":"string","description":"City","example":"Toulouse"},"address":{"type":"string","description":"Address","example":"Rue Imaginaire, 456"},"postcode":{"type":"string","description":"Postal/ZIP code","example":"31000"}},"description":"Contact's full address. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#address\">Read more...</a>"},"Channel":{"type":"object","properties":{"type":{"type":"string","description":"Channel type","enum":["email","sms","viber","mobilepush","webpush","appinbox","widget","inapp"]},"value":{"type":"string","description":"Email address, phone number or push token"},"device":{"$ref":"#/components/schemas/Device"},"webPushSubscription":{"$ref":"#/components/schemas/WebPushSubscription"}},"description":"Media channel"},"Contact":{"required":["channels"],"type":"object","properties":{"firstName":{"type":"string","description":"Contact’s first name. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#first-name\">Read more...</a>","example":"John"},"lastName":{"type":"string","description":"Contact’s last name. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#last-name\">Read more...</a>","example":"Smith"},"channels":{"type":"array","description":"The list of media channels:\n• <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#email\">Email</a>\n• <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#phone-number\">Phone number (SMS, Viber)</a>\n• <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#applications-telegram-mob-push-web-push\">Applications (App Inbox and In-App messages), Telegram, Mobile Push, Web Push</a>","items":{"$ref":"#/components/schemas/Channel"}},"address":{"$ref":"#/components/schemas/Address"},"fields":{"type":"array","description":"Values of the additional fields for a contact. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#additional-fields-format-filling\">Read more...</a>","items":{"$ref":"#/components/schemas/ContactField"}},"addressBookId":{"type":"integer","description":"The list of additional contact fields. <a href=\"https://docs.yespo.io/reference/getaddressbooks-1\">Read more...</a>","format":"int32","example":7200},"id":{"type":"integer","description":"A field containing the internal contact ID in our system. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#contact-id\">Read more...</a>","format":"int64","example":23456789},"externalCustomerId":{"type":"string","description":"A field containing the internal contact ID in your system. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#external-id\">Read more...</a>","example":"TV12790"},"contactKey":{"type":"string","description":"Contact's key. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#contact-key\">Read more...</a>"},"groups":{"type":"array","description":"The list of static segments where the contact is present. Used only when receiving contacts. <a href=\"https://docs.yespo.io/docs/segmentation\">Read more...</a>","items":{"$ref":"#/components/schemas/GroupDto"}},"languageCode":{"type":"string","description":"Language code for the contact. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#language\">Read more...</a>","example":"en"},"timeZone":{"type":"string","description":"The contact's time zone. <a href=\"https://docs.yespo.io/docs/how-import-and-match-contact-fields-in-the-system#time-zone\">Read more...</a>","example":"Europe/London"}},"description":"Contact for subscription."},"ContactField":{"type":"object","properties":{"id":{"type":"integer","description":"Additional field ID.<br/>You can get the value using the <i>/v1/addressbooks GET</i> method.","format":"int32","example":79814},"value":{"type":"string","description":"The value of an additional field.","example":"textfield"}},"description":"Additional field for a contact.","xml":{"name":"field","namespace":"http://esputnik.com.ua/dto"}},"Device":{"type":"object","properties":{"appId":{"type":"string","description":"Application ID","example":"83b77a49-fc28-409b-aeaa-68c9d544ab9d"},"deviceModel":{"type":"string","description":"Device model","example":"iPhone 16 Pro"},"os":{"type":"string","description":"Device OS","example":"iOS"},"locale":{"type":"string","description":"Locale (en_UK, ru_UA, ua_UA).","example":"en_UK"},"clientVersion":{"type":"string","description":"SDK version","example":"1.6.8","enum":["native","esputnik-1"]},"appVersion":{"type":"string","description":"Mobile app version","example":"1.23.45"},"active":{"type":"boolean","description":"Token activity flag"}},"description":"The data about the contact's device. Used together with the &quot;mobilepush&quot; channel type."},"GroupDto":{"type":"object","properties":{"id":{"type":"integer","description":"Segment ID","format":"int32","example":200400},"name":{"type":"string"},"type":{"type":"string","description":"Possible values: Static - simple static segment (list), Dynamic - conditional segment, Combined - composite segment."}},"description":"The list of the static segments where the contact is present. Used only when receiving contacts.","xml":{"name":"group","namespace":"http://esputnik.com.ua/dto"}},"WebPushSubscription":{"type":"object","properties":{"appId":{"type":"integer","format":"int32"},"userAgent":{"type":"string"},"userAgentVersion":{"type":"string"},"userAgentLanguage":{"type":"string"},"os":{"type":"string"},"ip":{"type":"string"},"subscriptionPage":{"type":"string"},"swActiveVersion":{"type":"string"}},"description":"The data about the web push subscription. Used together with the &quot;webpush&quot; channel type."},"BaseEmailMessage":{"required":["from","htmlText","name","subject"],"type":"object","properties":{"id":{"type":"integer","description":"Message ID.","format":"int32"},"name":{"type":"string","description":"Message name."},"languageCode":{"type":"string","description":"Language code."},"tags":{"type":"array","description":"List of tags.","items":{"type":"string","description":"List of tags."}},"subscriptionsKeys":{"type":"array","description":"Subscription categories keys, assigned to a message.","items":{"type":"string","description":"Subscription categories keys, assigned to a message."}},"languages":{"type":"array","description":"An array with the language codes for multilingual messages. Available for the GET method only.","items":{"type":"string","description":"An array with the language codes for multilingual messages. Available for the GET method only."}},"from":{"type":"string","description":"<b>Required parameter.</b><br>\nSender name and email address, e.g. \"from\": \"\\\"name\\\" &lt;info@test.com&gt;\"","example":"\"John Smith\" John.Smith@example.com"},"subject":{"type":"string","description":"Message subject","example":"Thanks for signing up"},"htmlText":{"type":"string","description":"Message HTML code"},"rawHtml":{"type":"string","description":"Message HTML code without styles."},"ampHtml":{"type":"string","description":"Message AMP code"},"css":{"type":"string","description":"Message styles"},"translations":{"type":"array","description":"The array of the language versions for the current message. Available for the GET method only.","items":{"$ref":"#/components/schemas/EmailMessage"}}}},"EmailMessage":{"required":["from","htmlText","name","subject"],"type":"object","properties":{"id":{"type":"integer","description":"Message ID.","format":"int32"},"name":{"type":"string","description":"Message name."},"languageCode":{"type":"string","description":"Language code."},"tags":{"type":"array","description":"List of tags.","items":{"type":"string","description":"List of tags."}},"subscriptionsKeys":{"type":"array","description":"Subscription categories keys, assigned to a message.","items":{"type":"string","description":"Subscription categories keys, assigned to a message."}},"languages":{"type":"array","description":"An array with the language codes for multilingual messages. Available for the GET method only.","items":{"type":"string","description":"An array with the language codes for multilingual messages. Available for the GET method only."}},"from":{"type":"string","description":"<b>Required parameter.</b><br>\nSender name and email address, e.g. \"from\": \"\\\"name\\\" &lt;info@test.com&gt;\"","example":"\"John Smith\" John.Smith@example.com"},"subject":{"type":"string","description":"Message subject","example":"Thanks for signing up"},"htmlText":{"type":"string","description":"Message HTML code"},"rawHtml":{"type":"string","description":"Message HTML code without styles."},"ampHtml":{"type":"string","description":"Message AMP code"},"css":{"type":"string","description":"Message styles"}},"description":"The array of the language versions for the current message. Available for the GET method only."},"BaseMobilePushMessage":{"required":["name","text","title"],"type":"object","properties":{"id":{"type":"integer","description":"Message ID.","format":"int32"},"name":{"type":"string","description":"Message name."},"languageCode":{"type":"string","description":"Language code."},"tags":{"type":"array","description":"List of tags.","items":{"type":"string","description":"List of tags."}},"subscriptionsKeys":{"type":"array","description":"Subscription categories keys, assigned to a message.","items":{"type":"string","description":"Subscription categories keys, assigned to a message."}},"languages":{"type":"array","description":"An array with the language codes for multilingual messages. Available for the GET method only.","items":{"type":"string","description":"An array with the language codes for multilingual messages. Available for the GET method only."}},"title":{"type":"string","description":"Message title.","example":"Your order is confirmed"},"subtitle":{"type":"string","description":"Message subtitle. Visible only to iOS users.","example":"Order number 002345"},"text":{"type":"string","description":"Message text.","example":"You order 002345 is confirmed"},"link":{"type":"string","description":"Can be either an external link (opens in device browser) or a deep link (opens some section of the app).","example":"https://www.yourshop.com/account/order"},"imageSource":{"type":"string","description":"Image URL for a single image in a message. Use 'images' array to create an images carousel.","example":"https://www.example.com/images/sample.jpg"},"customData":{"type":"string","description":"Additional parameters in JSON format to be used in the push message."},"ttlSec":{"type":"integer","description":"Time-to-live for a message; in seconds.","format":"int32","example":3600},"buttons":{"type":"array","description":"Use buttons to implement various actions. 4 buttons for iOS, 3 buttons for Android are supported.","items":{"$ref":"#/components/schemas/MobilePushButton"}},"soundEnabled":{"type":"boolean","description":"Enable to play sound when user receives push-message."},"badgeCount":{"type":"integer","description":"The number of unread messages shown to the user.","format":"int64","example":50},"images":{"type":"array","description":"The array of image URLs for images carousel. Up to 10 images.","items":{"type":"string","description":"The array of image URLs for images carousel. Up to 10 images."}},"translations":{"type":"array","description":"The array of language versions for the current message. Available for GET method only.","items":{"$ref":"#/components/schemas/MobilePushMessage"}}}},"MobilePushButton":{"required":["actionId","label"],"type":"object","properties":{"actionId":{"type":"string","description":"<b>Required parameter.</b><br>Unique action id for the button."},"label":{"type":"string","description":"<b>Required parameter.</b><br>Text shown on the button."},"iosIconPath":{"type":"string","description":"Icon associated with the button action. Supported on iOS 15+."},"link":{"type":"string","description":"An URL or a deeplink where user will go if selects the button."},"customData":{"type":"string","description":"Additional parameters of the button; in JSON format."}},"description":"Used to implement unique action."},"MobilePushMessage":{"required":["name","text","title"],"type":"object","properties":{"id":{"type":"integer","description":"Message ID.","format":"int32"},"name":{"type":"string","description":"Message name."},"languageCode":{"type":"string","description":"Language code."},"tags":{"type":"array","description":"List of tags.","items":{"type":"string","description":"List of tags."}},"subscriptionsKeys":{"type":"array","description":"Subscription categories keys, assigned to a message.","items":{"type":"string","description":"Subscription categories keys, assigned to a message."}},"languages":{"type":"array","description":"An array with the language codes for multilingual messages. Available for the GET method only.","items":{"type":"string","description":"An array with the language codes for multilingual messages. Available for the GET method only."}},"title":{"type":"string","description":"Message title.","example":"Your order is confirmed"},"subtitle":{"type":"string","description":"Message subtitle. Visible only to iOS users.","example":"Order number 002345"},"text":{"type":"string","description":"Message text.","example":"You order 002345 is confirmed"},"link":{"type":"string","description":"Can be either an external link (opens in device browser) or a deep link (opens some section of the app).","example":"https://www.yourshop.com/account/order"},"imageSource":{"type":"string","description":"Image URL for a single image in a message. Use 'images' array to create an images carousel.","example":"https://www.example.com/images/sample.jpg"},"customData":{"type":"string","description":"Additional parameters in JSON format to be used in the push message."},"ttlSec":{"type":"integer","description":"Time-to-live for a message; in seconds.","format":"int32","example":3600},"buttons":{"type":"array","description":"Use buttons to implement various actions. 4 buttons for iOS, 3 buttons for Android are supported.","items":{"$ref":"#/components/schemas/MobilePushButton"}},"soundEnabled":{"type":"boolean","description":"Enable to play sound when user receives push-message."},"badgeCount":{"type":"integer","description":"The number of unread messages shown to the user.","format":"int64","example":50},"images":{"type":"array","description":"The array of image URLs for images carousel. Up to 10 images.","items":{"type":"string","description":"The array of image URLs for images carousel. Up to 10 images."}}},"description":"The array of language versions for the current message. Available for GET method only."},"BaseSmsMessage":{"required":["from","name","text"],"type":"object","properties":{"id":{"type":"integer","description":"Message ID.","format":"int32"},"name":{"type":"string","description":"Message name."},"languageCode":{"type":"string","description":"Language code."},"tags":{"type":"array","description":"List of tags.","items":{"type":"string","description":"List of tags."}},"subscriptionsKeys":{"type":"array","description":"Subscription categories keys, assigned to a message.","items":{"type":"string","description":"Subscription categories keys, assigned to a message."}},"languages":{"type":"array","description":"An array with the language codes for multilingual messages. Available for the GET method only.","items":{"type":"string","description":"An array with the language codes for multilingual messages. Available for the GET method only."}},"from":{"type":"string","description":"Sender name."},"text":{"type":"string","description":"Message text."},"trackUrls":{"type":"boolean","description":"The parameter determines whether to track links in a message or not. The default value is ‘false’."},"translations":{"type":"array","description":"An array with translations to other languages. Available for the GET method only.","items":{"$ref":"#/components/schemas/SmsMessage"}}}},"SmsMessage":{"required":["from","name","text"],"type":"object","properties":{"id":{"type":"integer","description":"Message ID.","format":"int32"},"name":{"type":"string","description":"Message name."},"languageCode":{"type":"string","description":"Language code."},"tags":{"type":"array","description":"List of tags.","items":{"type":"string","description":"List of tags."}},"subscriptionsKeys":{"type":"array","description":"Subscription categories keys, assigned to a message.","items":{"type":"string","description":"Subscription categories keys, assigned to a message."}},"languages":{"type":"array","description":"An array with the language codes for multilingual messages. Available for the GET method only.","items":{"type":"string","
[...]
